{% if blogs.has_other_pages %}
<div class="pagination ">
    <span class="step-links">
            {% if blogs.has_previous %}
                <a class="btn-sm" href="?page=1">&laquo; first </a>
                <a class="btn-sm" href="?page={{ blogs.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="btn-sm">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
            </span> {% if blogs.has_next %}
    <a class="btn-sm" href="?page={{ blogs.next_page_number }}">next</a>
    <a class="btn-sm" href="?page={{ blogs.paginator.num_pages }}">last &raquo;</a> {% endif %}
    </span>
</div>
{% endif %}