{% extends "blog/base.html"%} {% block title %} {{blog.title|title}} {% endblock %}{% block content %}
<br>

<article class="container">
    <h2>{{blog.title|title}}</h2>

    {% if blog.date_updated|date:"SHORT_DATETIME_FORMAT" == blog.date_created|date:"SHORT_DATETIME_FORMAT" %}
    <p>Published {{blog.date_created |timesince}} ago</p>
    {% else %}
    <p>Updated {{blog.date_updated |timesince}} ago</p>
    {% endif %}
    <br> {{blog.content|linebreaks}}

</article>

<br>
<hr>
<form action="" method="post">
    <div class="card mx-auto ">
        <div class="card-body">
            <h4 class="card-title">Post a comment</h4>
            {% csrf_token %} {{comment_form.as_p}}
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </div>
    </div>
</form>
<br> {% for comment in comments %}
<br>
<div class="card mx-auto">
    <div class="card-body">
        <p>{{comment.name}} commented {{comment.date_created|timesince}} ago</p>
        <p> {{comment.comment}}</p>
    </div>
</div>
{% endfor %}
<br> {% endblock %}