{% extends "blog/base.html"%}
{% load markdown_deux_tags %}
{% block title %}
{{blog.title|title}}
{% endblock %}
{% block content %}
<br>

<article class="container">
    <h2>{{blog.title|title}}</h2>

    {% if blog.date_updated|date:"SHORT_DATETIME_FORMAT" == blog.date_created|date:"SHORT_DATETIME_FORMAT" %}
    <p>Published {{blog.date_created |timesince}} ago</p>
    {% else %}
    <p>Updated {{blog.date_updated |timesince}} ago</p>
    {% endif %}
    <br> {{blog.content|markdown}}

</article>

<br>
<hr>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
    Post a comment
</button>

<br>
<p>Comments</p>
<hr />
<br> {% for comment in comments %}
<br>
<div class="card mx-auto">
    <div class="card-body">
        <p>{{comment.name}} commented {{comment.date_created|timesince}} ago</p>
        <p> {{comment.comment}}</p>
    </div>
</div>
{% endfor %}
<br>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <form action="" method="post">
                    <div class="card mx-auto ">
                        <div class="card-body">
                            <h5 class="card-title">Post a comment</h5>
                            {% csrf_token %} {{comment_form.as_p}}
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


{% endblock %}