{% extends "blog/base.html"%} {% block title %} Home {% endblock %}{% block content %}
<br>
<div class="jumbotron bg-white text-center">
    <h1>Welcome to Simple Blog</h1>
    <p class=" text-muted">Description of blog</p>
</div>
<br>
<h2>Recent Posts</h2>
<br> {% for blog in blogs %}
<h3><a href="{% url 'detail' blog.id blog.slug %}">{{blog.title|title}}</a></h3>
<p>Published {{blog.date_created|timesince}} ago </p>
<br> {% empty %} No blog posts available
<br> {% endfor %}
<br> {% endblock %}
<br>